@model MTIGraduationProject.ViewModels.StudentViewModel
@{
    ViewBag.Title = "تسجيل طالب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> تسجيل طالب جديد </h2>

@using (Html.BeginForm(Model.Action, "Student", FormMethod.Post, new {@class = "form-inline", id = "RegisterStudent"}))
{
    <div class="alert alert-success alert-dismissible" style="display: @(ViewBag.RegisteredSuccessfully? "block" : "none")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>نجاح!</strong> تم تسجيل الطالب بنجاح.
    </div>

    <p class="alert alert-info"> كل الحقول  <strong>مطلوبة</strong></p>

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("رقم الطالب")
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", type = "number", autocomplete="off", style = "margin-right: 65px;" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>
    <div class="form-group">
        @Html.Label("الإسم")
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", autocomplete = "off", style = "margin-right: 90px;"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.Label("رقم الطاولة")
        @Html.TextBoxFor(m => m.TableId, new {@class = "form-control", type = "number", style = "margin-right: 61px;" })
        @Html.ValidationMessageFor(m => m.TableId)
    </div>
    <div class="form-group">
        @Html.Label("رقم الأتوبيس")
        @Html.TextBoxFor(m => m.BusId, new {@class = "form-control", type = "number", style = "margin-right: 53px;" })
        @Html.ValidationMessageFor(m => m.BusId)
    </div>
    <div class="form-group">
        @Html.Label("منفذ تقديم وجبة الإفطار")
        @Html.TextBoxFor(m => m.BreakfastOutlet, new {@class = "form-control", type = "number", style = "margin-right: 5px;" })
        @Html.ValidationMessageFor(m => m.BreakfastOutlet)
    </div>
    <div class="form-group">
        @Html.Label("منفذ تقديم وجبة الغداء")
        @Html.TextBoxFor(m => m.LunchOutlet, new {@class = "form-control", type = "number", style = "margin-right: 11px;"})
        @Html.ValidationMessageFor(m => m.LunchOutlet)
    </div>

    <button type="submit" class="btn btn-primary btn-lg">تسجيل</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        setTimeout(function() {
            $(".alert-success").hide();
        }, 3000);

        $("#Id").ready(function() {
            if ($("#Id").val() === "0")
                $("#Id").val('');
        });

    </script>
}