@using MTIGraduationProject.DTOs
@model int
@{
    ViewBag.Title = "تصديق الدعوة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="form-header" id="InvitationHeading">تصديق الدعوة</h2>

    <form class="form-inline font-sz-lg" id="FormSearchStudent">
        @Html.Label("رقم الطالب", new { @for = "SearchStudentID" })

        <input type="number" value="@(Model != 0 ? Model.ToString() : null)" id="SearchStudentId" autofocus class="form-control" onclick="select()" />


        <div class="alert alert-success alert-dismissible hidden" id="ApprovingSuccess">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>نجاح!</strong> تم التصديق بنجاح.
        </div>

        <div class="alert alert-warning alert-dismissible hidden" id="ApprovedAlready">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>تحذير!</strong> تم تصديق دعوة هذا الشخص بالفعل
        </div>

        <div class="alert alert-success alert-dismissible hidden" id="RefusingSuccess">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>نجاح!</strong> تم إلغاء التصديق بنجاح.
        </div>

        <div class="alert alert-warning alert-dismissible hidden" id="RefusedAlready">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>تحذير!</strong> تم إلغاء تصديق دعوة هذا الشخص بالفعل
        </div>

        <div class="sk-folding-cube hidden" id="loader">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </form>


<div class="container hidden" id="invitationList"></div>

@section scripts
{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>
        var url = '@Url.Action("GetInvitationList", "Invitation", new {invitationContext = InvitationContext.Approving})';

        // loading Partial View with Invitations
        $("#SearchStudentId").on("keyup", function() {
            if ($("#SearchStudentId").val().length === 5) {

                $("#SearchStudentId").blur();
                $("#loader").removeClass("hidden");
                $('#invitationList').load(url,
                    { studentId: $("#SearchStudentId").val() },
                    function() {
                        setTimeout(function() {
                                $("#loader").addClass("hidden");
                                $("#invitationList").removeClass("hidden");
                            },
                            500);
                    });
            }
            else {
                $("#invitationList").empty();
            }
        });

        $(document).ready(function() {
            if ($("#SearchStudentId").val().length === 5) {

                $("#SearchStudentId").blur();
                $("#loader").removeClass("hidden");
                $('#invitationList').load(url,
                    { studentId: $("#SearchStudentId").val() },
                    function() {
                        setTimeout(function() {
                                $("#loader").addClass("hidden");
                                $("#invitationList").removeClass("hidden");
                            },
                            500);
                    });
            }
        });


        // Approving Attendee
        function ApproveAttendee(invitationId) {
            $.post('@Url.Action("ApproveInvitation", "Invitation")',
                { invitationId: invitationId },
                function(result) {
                    if (result.message === "success") {
                        $("#ApprovingSuccess").removeClass("hidden");

                        setTimeout(function() {
                            $("#ApprovingSuccess").addClass("hidden");
                            location.href = "/Invitation/ApproveInvitation?studentId=" + result.studentId;
                        }, 500);

                    } else{
                        $("#ApprovedAlready").removeClass("hidden");
                        setTimeout(function() {
                            $("#ApprovedAlready").addClass("hidden");
                        },500);
                    }
                });
            }

        // Refusing Attendee
        function RefuseAttendee(invitationId) {
            $.post('@Url.Action("RefuseInvitation", "Invitation")',
                { invitationId: invitationId },
                function(result) {
                    if (result.message === "success") {
                        $("#RefusingSuccess").removeClass("hidden");

                        setTimeout(function() {
                            $("#RefusingSuccess").addClass("hidden");
                            location.href = "/Invitation/ApproveInvitation?studentId=" + result.studentId;
                        }, 500);

                    } else{
                        $("#RefusedAlready").removeClass("hidden");
                        setTimeout(function() {
                            $("#RefusedAlready").addClass("hidden");
                        },500);
                    }
                });
        }

    </script>
}
