@model MTIGraduationProject.Models.ExtraInvitation
@{
    ViewBag.Title = "تسجيل دعوة إضافية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="form-header"> تسجيل دعوةإضافية </h2>

@using (Html.BeginForm("RegisterExtraInvitation", "Invitation", FormMethod.Post, new { @class = "form-inline", id = "RegisterInvitation" }))
{
    <div class="alert alert-success alert-dismissible" style="display: @(ViewBag.RegisteredSuccessfully? "block" : "none")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>نجاح!</strong> تم تسجيل الدعوة بنجاح.
    </div>

    <h4 class="required"> كل الحقول  <strong>مطلوبة</strong></h4>

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("رقم الطالب")
        @Html.TextBoxFor(i => i.StudentId, new { type = "number", @class = "form-control", style = "right: 19px;" })
        @Html.ValidationMessageFor(i => i.StudentId)
        @Html.TextBox("StudentName", null, new { disabled = "disabled", style = "border: 0px; background: transparent; position:relative; right:40px; font-size: 18px; font-weight: 800;" })
    </div>
    <div class="form-group">
        @Html.Label("اسم المدعو")
        @Html.TextBoxFor(i => i.Name, new { type = "text", @class = "form-control", style = "right: 16px;", autocomplete = "off" })
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    <div class="form-group">
        @Html.Label("الرقم القومي")
        @Html.TextBoxFor(i => i.NationalId, new { type = "number", @class = "form-control", style = "right: 10px;" })
        @Html.ValidationMessageFor(i => i.NationalId)
    </div>
    <div class="form-group">
        @Html.Label("تاريخ الميلاد")
        @Html.EditorFor(i => i.BirthDate)
        @Html.ValidationMessageFor(i => i.BirthDate)
    </div>
    <div class="form-group">
        @Html.Label("درجة القرابة")
        @Html.TextBoxFor(i => i.Relationship, new { type = "text", @class = "form-control", style = "right: 10px;" })
        @Html.ValidationMessageFor(i => i.Relationship)
    </div>
    <div class="form-group">
        @Html.Label("العنوان")
        @Html.TextBoxFor(i => i.Address, new { type = "text", @class = "form-control", style = "right: 35px;" })
        @Html.ValidationMessageFor(i => i.Address)
    </div>


    <button type="submit" class="btn btn-primary btn-lg">تسجيل</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        // hiding success message automatically
        setTimeout(function() {
                $(".alert-success").hide();
            },
            2000);

        // showing Student Name when typing valid student Id
        $("#StudentId").on("keyup", function(){
            if ($("#StudentId").val().length === 5) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentName", "Student")',
                    data: JSON.stringify({studentId: $("#StudentId").val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(studentName) {
                        if (studentName != null) {
                            $("#StudentName").val(studentName);
                        } else {
                            $("#StudentName").val('هذاالرقم غير صحيح او غير مسجل');
                        }
                    },
                    failure: function(response) {
                        $("#StudentName").val('هذاالرقم غير صحيح او غير مسجل');
                    },
                    error: function(response) {
                        $("#StudentName").val('هذاالرقم غير صحيح او غير مسجل');
                    }
                });
            }
            else {
                $("#StudentName").val('');
            }
        });

        

        // Adding class form-control to birthdate field
        $("#BirthDate").addClass('form-control');
    </script>
}