@model MTIGraduationProject.ViewModels.StudentViewModel
@{
    ViewBag.Title = "RegisterStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> تسجيل طالب جديد </h2>

@using (Html.BeginForm(Model.Action, "Home", FormMethod.Post))
{
    <p class="alert alert-info"> كل الحقول  <strong>مطلوبة</strong></p>

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("رقم الطالب")
        @Html.TextBoxFor(m => m.Id, new { type = "number" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>
    <div class="form-group">
        @Html.Label("الإسم")
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.Label("التخصص")
        @Html.TextBoxFor(m => m.Specialization)
        @Html.ValidationMessageFor(m => m.Specialization)
    </div>
    <div class="form-group">
        @Html.Label("رقم الطاولة")
        @Html.TextBoxFor(m => m.TableId, new {type = "number" })
        @Html.ValidationMessageFor(m => m.TableId)
    </div>
    <div class="form-group">
        @Html.Label("رقم الأتوبيس")
        @Html.TextBoxFor(m => m.BusId, new { type = "number" })
        @Html.ValidationMessageFor(m => m.BusId)
    </div>
    <div class="form-group">
        @Html.Label("رقم الكرسي الأول")
        @Html.TextBoxFor(m => m.Chair1Id, new { type = "number" })
        @Html.ValidationMessageFor(m => m.Chair1Id)
    </div>
    <div class="form-group">
        @Html.Label("رقم الكرسي الثاني")
        @Html.TextBoxFor(m => m.Chair2Id, new { type = "number" })
        @Html.ValidationMessageFor(m => m.Chair2Id)
    </div>

    <button type="submit" class="btn btn-primary btn-lg">تسجيل</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}