@using MTIGraduationProject.Helpers
@model MTIGraduationProject.DTOs.InvitationDto
@{
    var counter = 1;
    var printHeader = "المعهد الفني للقوات المسلحة حفل تخرج الدفعة 48".ConvertNumeralsToArabic();
}

@if (Model.StudentId != null && Model.InvitationsExist)
{
    <div class="print-content">
        @Html.BeginForm("RegisterAttendance", "Home", FormMethod.Post, new {@class = "form-inline"}){
        <div class="form-group">
            <label for="StudentId">الرقم العسكري /</label>
            <a id="StudentId" href="@Url.Action("EditStudent", "Student", new {studentId = Model.StudentId})">
                @Model.StudentId.ToString().ConvertNumeralsToArabic()
            </a>
        </div>
        <div class="form-group">
            <label for="StudentName">اسم الطالب /</label>
            <input id="StudentName" class="form-control" type="text" readonly="readonly" value="@Model.StudentName">
        </div>
        <div class="form-group">
            <label for="Specialization">التخصص /</label>
            <input id="Specialization" class="form-control" type="text" readonly="readonly" value="@Model.Specialization">
        </div>
        <div class="form-group">
            <p>
                <a href="@Url.Action("RegisterInvitation", "Invitation")">إضافة دعوة جديدة</a>
            </p>
        </div>
        <div class="form-group">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.Label("#")
                    </th>
                    <th>
                        @Html.Label("اسم المدعو")
                    </th>
                    <th>
                        @Html.Label("درجة القرابة")
                    </th>
                    <th>
                        @Html.Label("الرقم القومي")
                    </th>
                    <th>
                        @Html.Label("تاريخ الميلاد")
                    </th>
                    <th>
                        @Html.Label("محل الميلاد")
                    </th>
                    <th>
                        @Html.Label("العنوان")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Invitations)
                {
                    <tr>
                        <td>
                            @(counter++.ToString().ConvertNumeralsToArabic())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Relationship)
                        </td>
                        <td>
                            @{ var arabicNationalId = item.NationalId.ConvertNumeralsToArabic();}
                            @Html.DisplayFor(modelItem => arabicNationalId)
                        </td>
                        <td>
                            @{ var arabicBirthDate = item.BirthDate?.ToString("yyyy/MM/dd").ConvertNumeralsToArabic();}
                            @Html.DisplayFor(modelItem => arabicBirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            <a href="@Url.Action("EditInvitation", "Invitation", new {id = item.Id})">تعديل</a> |
                            <a href="@Url.Action("DeleteInvitation", "Invitation", new {id = item.Id})">مسح</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
        }

        <button type="submit" class="btn btn-primary btn-lg" id="JS-register-attendance"> تسجيل حضور</button>
        <button type="button" class="btn btn-primary btn-lg" id="JS-printInvitation" onclick="printInv();"> طباعة الدعوة</button>
    </div>

    <div id="printableArea" style="display: none;">

        <label>الرقم العسكري /</label>
        <label>@Model.StudentId.ToString().ConvertNumeralsToArabic()</label>

        <label>اسم الطالب /</label>
        <label>@Model.StudentName</label>

        <label>التخصص /</label>
        <label>@Model.Specialization</label>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.Label("#")
                </th>
                <th>
                    @Html.Label("اسم المدعو")
                </th>
                <th>
                    @Html.Label("درجة القرابة")
                </th>
                <th>
                    @Html.Label("الرقم القومي")
                </th>
                <th>
                    @Html.Label("تاريخ الميلاد")
                </th>
                <th>
                    @Html.Label("محل الميلاد")
                </th>
                <th>
                    @Html.Label("العنوان")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Invitations)
            {
                <tr>
                    <td>
                        @(counter++.ToString().ConvertNumeralsToArabic())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relationship)
                    </td>
                    <td>
                        @{ var arabicNationalId = item.NationalId.ConvertNumeralsToArabic();}
                        @Html.DisplayFor(modelItem => arabicNationalId)
                    </td>
                    <td>
                        @{ var arabicBirthDate = item.BirthDate?.ToString("yyyy/MM/dd").ConvertNumeralsToArabic();}
                        @Html.DisplayFor(modelItem => arabicBirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                </tr>
            }

        </table>
    </div>

}
else if (Model.StudentId == null)
{
    <h1>هذاالرقم غير صحيح او غير مسجل</h1>
}
else if (!Model.InvitationsExist)
{
    <h1>لا توجد دعاوي مسجلة لهذا الطالب</h1>
}

<script>

    function printInv() {
        window.print();
    }

</script>