@using MTIGraduationProject.Helpers
@model MTIGraduationProject.DTOs.InvitationDto
@{
    var counter = 1;
    var printHeader = "حفل تخرج دفعه 48 معهد فني".ConvertNumeralsToArabic();
}

@if (Model.Student != null && Model.InvitationsExist)
{
    <div class="print-content font-sz-lg">

        <form class="form-inline mb-30" id="InvitationPartialView">
            <div class="form-group" id="newInvitation">
                <p>
                    <a href="@Url.Action("RegisterInvitation", "Invitation")">إضافة دعوة جديدة</a>
                </p>
            </div>

            <div class="form-group">
                <label for="StudentId">الرقم العسكري /</label>
                <a id="StudentId" href="@Url.Action("EditStudent", "Student", new {studentId = Model.Student.Id})">
                    @Model.Student.Id.ToString().ConvertNumeralsToArabic()
                </a>
            </div>
            <div class="form-group mr-30">
                <label for="StudentName">اسم الطالب /</label>
                <input id="StudentName" class="form-control" type="text" readonly="readonly" value="@Model.Student.Name">
            </div>
            <div class="form-group" id="InvitationTable">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.Label("#")
                        </th>
                        <th>
                            @Html.Label("اسم المدعو")
                        </th>
                        <th>
                            @Html.Label("درجة القرابة")
                        </th>
                        <th>
                            @Html.Label("الرقم القومي")
                        </th>
                        <th>
                            @Html.Label("تاريخ الميلاد")
                        </th>
                        <th>
                            @Html.Label("محل الميلاد")
                        </th>
                        <th>
                            @Html.Label("العنوان")
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model.Invitations)
                    {
                        <tr>
                            <td>
                                @(counter++.ToString().ConvertNumeralsToArabic())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Relationship)
                            </td>
                            <td>
                                @{ var arabicNationalId = item.NationalId.ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicNationalId)
                            </td>
                            <td>
                                @{ var arabicBirthDate = item.BirthDate?.ToString("yyyy/MM/dd").ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicBirthDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <a onclick="registerAttendee(@item.Id); return false;" href="">تسجيل</a> |
                                <a href="@Url.Action("EditInvitation", "Invitation", new {id = item.Id})">تعديل</a> |
                                <a onclick="deleteInvitation(@item.Id); return false;" href="">مسح</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </form>

        <button type="button" class="btn btn-primary btn-lg" id="JS-printInvitation" onclick="printInv();"> طباعة الدعوة</button>
        


    </div>

    <div class="font-sz-lg" id="printableArea" style="display: none;">
        @{ counter = 1; }

        <img id="Logo" alt="Brand" src="~/Images/logo.png">
        <p id="header1">وزارة الدفـــاع</p>
        <p id="header2">المعهد الفني للقوات المسلحة</p>
        <h1>@printHeader</h1>
        <div class="form-inline">
            <div class="form-group">
                <label for="StudentId">الرقم العسكري /</label>
                <p id="StudentId">@Model.Student.Id.ToString().ConvertNumeralsToArabic()</p>
            </div>
            <div class="form-group pr-30" id="StudentName">
                <label for="StudentName">اسم الطالب /</label>
                <input id="StudentName" value="@Model.Student.Name" class="">
            </div>
            <div class="form-group" id="FormTable">
                <table class="table table-striped" id="PrintableTable">
                    <tr>
                        <th>
                            @Html.Label("#")
                        </th>
                        <th>
                            @Html.Label("اسم المدعو")
                        </th>
                        <th>
                            @Html.Label("درجة القرابة")
                        </th>
                        <th>
                            @Html.Label("الرقم القومي")
                        </th>
                        <th>
                            @Html.Label("رقم الأتوبيس")
                        </th>
                        <th>
                            @Html.Label("رقم الترابيزة")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Invitations)
                    {
                        <tr>
                            <td>
                                @(counter++.ToString().ConvertNumeralsToArabic())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Relationship)
                            </td>
                            <td>
                                @{ var arabicNationalId = item.NationalId.ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicNationalId)
                            </td>
                            <td>
                                @{ var arabicBusId = Model.Student.BusId.ToString().ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicBusId)
                            </td>
                            <td>
                                @{ var arabicTableId = Model.Student.TableId.ToString().ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicTableId)
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="form-group w-7xx">
                <label> منفذ وجبة الإفطار </label>
                <p class="pr-30">@(Model.Student.BreakfastOutlet.ToString().ConvertNumeralsToArabic())</p>
            </div>
            <div class="form-group">
                <label> منفذ وجبة الغداء </label>
                <p class="pr-30">@(Model.Student.LunchOutlet.ToString().ConvertNumeralsToArabic())</p>
            </div>

        </div>



    </div>

}
else if (Model.Student == null)
{
    <h1>هذاالرقم غير صحيح او غير مسجل</h1>
}
else if (!Model.InvitationsExist)
{
    <h1>لا توجد دعاوي مسجلة لهذا الطالب</h1>
    <script>
        $("#SearchStudentId").val("");
        $("#SearchStudentId").focus();
    </script>
}

