@using MTIGraduationProject.DTOs
@using MTIGraduationProject.Helpers
@model MTIGraduationProject.DTOs.InvitationDto
@{
    var counter = 1;
    var printHeader = "حفل تخرج دفعه 48 معهد فني".ConvertNumeralsToArabic();
    var numberOfMeals = 2;
}

@if (Model.Student != null && Model.InvitationsExist)
{
    <div class="print-content font-sz-lg">

        <form class="form-inline mb-30" id="InvitationPartialView">
            <div class="form-group" id="newInvitation">
                <p>
                    <a href="@Url.Action("RegisterInvitation", "Invitation")">إضافة دعوة جديدة</a>
                </p>
            </div>

            <div class="form-group">
                <label for="StudentId">الرقم العسكري /</label>
                <a id="StudentId" href="@Url.Action("EditStudent", "Student", new {studentId = Model.Student.Id})">
                    @Model.Student.Id.ToString().ConvertNumeralsToArabic()
                </a>
            </div>
            <div class="form-group mr-30">
                <label for="StudentName">اسم الطالب /</label>
                <input id="StudentName" class="form-control" type="text" readonly="readonly" value="@Model.Student.Name">
            </div>
            <div class="form-group" id="InvitationTable">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.Label("مسلسل")
                        </th>
                        <th>
                            @Html.Label("اسم المدعو")
                        </th>
                        <th>
                            @Html.Label("درجة القرابة")
                        </th>
                        <th>
                            @Html.Label("الرقم القومي")
                        </th>
                        <th>
                            @Html.Label("تاريخ الميلاد")
                        </th>
                        <th>
                            @Html.Label(" حالة التصديق")
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var invitation in Model.Invitations)
                    {
                        <tr>
                            <td>
                                @(counter++.ToString().ConvertNumeralsToArabic())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => invitation.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => invitation.Relationship)
                            </td>
                            <td>
                                @{ var arabicNationalId = invitation.NationalId.ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicNationalId)
                            </td>
                            <td>
                                @{ var arabicBirthDate = invitation.BirthDate?.ToString("yyyy/MM/dd").ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicBirthDate)
                            </td>
                            <td>
                                @if (invitation.Approved)
                                {
                                    <img src="~/Images/baseline-check_circle-24px (1).svg" alt="" />
                                }
                                else
                                {
                                    <img src="~/Images/baseline-block-24px.svg" alt="" />
                                }

                            </td>
                           
                            @if (Model.InvitationContext == InvitationContext.Printing)
                            {
                                <td>
                                    <a href="@Url.Action("EditInvitation", "Invitation", new {id = invitation.Id})">تعديل</a> <span>|</span>
                                    <a onclick="deleteInvitation(@invitation.Id);return false;" href="">مسح</a>
                                </td>
                                if (counter == 2)
                                {
                                    <td id="TableDataRegisterInvitation" rowspan="2">
                                        <a onclick="registerAttendee(@invitation.StudentId);return false;" href=""> تسجيل حضور</a>
                                    </td>
                                }
                                
                                
                                
                            }
                            else
                            {
                                <td>
                                    <a onclick="ApproveAttendee(@invitation.Id);return false;" href="">تصديق</a> <span> | </span>
                                    <a onclick="RefuseAttendee(@invitation.Id);return false;" href="">إلغاء التصديق</a> <span>|</span>
                                    <a href="@Url.Action("EditInvitation", "Invitation", new {id = invitation.Id})">تعديل</a> <span>|</span>
                                    <a onclick="deleteInvitation(@invitation.Id);return false;" href="">مسح</a>
                                </td>
                                
                            }


                            
                        </tr>
                    }

                </table>
            </div>
            @if (Model.InvitationContext == InvitationContext.Printing)
            {
                <div class="form-group" id="BusCounter">
                    @Html.Partial("Partial Views/_BusCounter")
                </div>
            }
            
        </form>
        @if (Model.InvitationContext == InvitationContext.Printing)
        {
            <button type="button" class="btn btn-primary btn-lg" id="JS-printInvitation" onclick="printInv();"> طباعة الدعوة</button>
        }




    </div>

    <div class="font-sz-lg" id="printableArea" style="display: none;">
        @{ counter = 1; }

        <img id="Logo" alt="Brand" src="~/Images/logo.png">
        <p id="header1" class="text-underline">وزارة الدفـــاع</p>
        <p id="header2" class="text-underline">المعهد الفني للقوات المسلحة</p>
        <h1 class="text-underline bold">@printHeader</h1>
        <div class="form-inline">
            <div class="form-group font-sz-larger">
                <label for="StudentId">الرقم العسكري /</label>
                <p id="StudentId">@Model.Student.Id.ToString().ConvertNumeralsToArabic()</p>
            </div>
            <div class="form-group mr-330 font-sz-larger" id="StudentName">
                <label for="StudentName">اسم الخريج /</label>
                <input id="StudentName" value="@Model.Student.Name" class="">
            </div>
            <div class="form-group" id="FormTable">
                <table class="table table-striped" id="PrintableTable">
                    <tr>
                        <th>
                            @Html.Label("مسلسل")
                        </th>
                        <th>
                            @Html.Label("اسم المدعو")
                        </th>
                        <th>
                            @Html.Label("درجة القرابة")
                        </th>
                        <th>
                            @Html.Label("الرقم القومي")
                        </th>
                        <th>
                            @Html.Label("رقم الأتوبيس")
                        </th>
                        <th>
                            @Html.Label("رقم الترابيزة")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Invitations)
                    {
                        <tr>
                            <td>
                                @(counter++.ToString().ConvertNumeralsToArabic())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Relationship)
                            </td>
                            <td>
                                @{ var arabicNationalId = item.NationalId.ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicNationalId)
                            </td>
                            <td>
                                @{ var arabicBusId = Model.Student.BusId.ToString().ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicBusId)
                            </td>
                            <td>
                                @{ var arabicTableId = Model.Student.TableId.ToString().ConvertNumeralsToArabic();}
                                @Html.DisplayFor(modelItem => arabicTableId)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
            
        
        
        <div class="footer font-sz-larger">
            <div class="border border-top col-xs-12 pt-15 pb-15">
                <label for="StudentName">اسم الخريج /</label>
                <input id="StudentName" value="@Model.Student.Name" class="no-border bold pr-15">

                <label class="pr-30">منفذ وجبة الغداء / </label>
                <p class="pr-15 pl-15 bold">@(Model.Student.LunchOutlet.ToString().ConvertNumeralsToArabic())</p>

                <p class="bold pr-30">عدد الوجبات / (@numberOfMeals.ToString().ConvertNumeralsToArabic()) وجبة غداء</p>
            </div>

            <div class="border border-top col-xs-12 pt-15">
                <label for="StudentName">اسم الخريج /</label>
                <input id="StudentName" value="@Model.Student.Name" class="no-border bold pr-15">

                <label class="pr-30">منفذ وجبة الإفطار / </label>
                <p class="pr-15 pl-15 bold">@(Model.Student.BreakfastOutlet.ToString().ConvertNumeralsToArabic())</p>

                <p class="bold pr-30">عدد الوجبات / (@numberOfMeals.ToString().ConvertNumeralsToArabic()) وجبة إفطار</p>
                
            </div>
            
        </div>
        

        



    </div>

}
else if (Model.Student == null)
{
    <h1>هذاالرقم غير صحيح او غير مسجل</h1>
}
else if (!Model.InvitationsExist)
{
    <h1>لا توجد دعاوي مسجلة لهذا الطالب</h1>
    <script>
        $("#SearchStudentId").val("");
        $("#SearchStudentId").focus();
    </script>
}

