@model int
@{
    ViewBag.Title = "استعلام عن الدعوة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="form-header" id="InvitationHeading">استعلام عن الدعوة</h2>

<form class="form-inline font-sz-lg" id="FormSearchStudent">
    @Html.Label("رقم الطالب", new { @for = "SearchStudentID" })
    <input type="number" value="@(Model != 0 ? Model.ToString() : null)" id="SearchStudentId" autofocus class="form-control" onclick="select()" />

    
    @Html.Label("رقم بطاقة المدعو", new { @for = "SearchAttendeeSSN", id="SearchAttendeeSSNLabel" })

    <input type="number" value="@(Model != 0 ? Model.ToString() : null)" id="SearchAttendeeSSN" autofocus class="form-control" onclick="select()" />

    <div class="alert alert-success alert-dismissible hidden" id="RegistrationSuccess">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>نجاح!</strong> تم تسجيل الحضور بنجاح.
    </div>

    <div class="alert alert-warning alert-dismissible hidden" id="RegisteredAlready">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>تحذير!</strong> تم تسجيل حضور هذا الشخص بالفعل
    </div>

    <div class="alert alert-success alert-dismissible hidden" id="DeleteSuccess">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>نجاح!</strong> تم حذف الدعوة بنجاح.
    </div>

    <div class="alert alert-danger alert-dismissible hidden" id="DeleteFail">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>فشل!</strong> لم يتم حذف الدعوة
    </div>

    <div class="alert alert-success alert-dismissible hidden" id="ApprovingSuccess">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>نجاح!</strong> تم التصديق بنجاح.
    </div>

    <div class="alert alert-danger alert-dismissible hidden" id="ApprovingFail">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>فشل!</strong> لم يتم التصديق
    </div>

    <div class="sk-folding-cube hidden" id="loader">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</form>


<div class="container hidden" id="invitationList"></div>

@section scripts
{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>
        var url = '@Url.Action("GetInvitationList", "Invitation")';

        // loading Partial View with Invitations On StudentId
        $("#SearchStudentId").on("keyup", function() {
            if ($("#SearchStudentId").val().length === 5) {

                $("#SearchStudentId").blur();
                $("#loader").removeClass("hidden");
                $('#invitationList').load(url,
                    { studentId: $("#SearchStudentId").val() },
                    function() {
                        setTimeout(function() {
                                $("#loader").addClass("hidden");
                                $("#invitationList").removeClass("hidden");
                            },
                            1000);
                    });
            }
            else {
                $("#invitationList").empty();
            }
        });

        $(document).ready(function() {
            if ($("#SearchStudentId").val().length === 5) {

                $("#SearchStudentId").blur();
                $("#loader").removeClass("hidden");
                $('#invitationList').load(url,
                    { studentId: $("#SearchStudentId").val() },
                    function() {
                        setTimeout(function() {
                                $("#loader").addClass("hidden");
                                $("#invitationList").removeClass("hidden");
                            },
                            2000);
                    });
            }
        });

        // loading Partial View with Invitations On SSN
        $("#SearchAttendeeSSN").on("keyup", function() {
            if ($("#SearchAttendeeSSN").val().length === 14) {

                $("#SearchAttendeeSSN").blur();
                $("#loader").removeClass("hidden");
                $('#invitationList').load(url,
                    { attendeeSSN: $("#SearchAttendeeSSN").val() },
                    function() {
                        setTimeout(function() {
                                $("#loader").addClass("hidden");
                                $("#invitationList").removeClass("hidden");
                            },
                            1000);
                    });
            }
            else {
                $("#invitationList").empty();
            }
        });

        // Printing Content
        function printInv() {
            window.print();
            $("#invitationList").empty();

            $("#SearchStudentId").val("");
            $("#SearchAttendeeSSN").val("");

            $("#SearchStudentId").focus();
        }

        // Registering Attendance
        function registerAttendee(invitationId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RegisterAttendance","Printing")',
                data: { invitationId: invitationId },
                success: function (message) {
                    if (message === "success") {
                        $("#RegistrationSuccess").removeClass("hidden");
                        setTimeout(function() {
                            $("#RegistrationSuccess").addClass("hidden");
                        },1000);
                    } else {
                        $("#RegisteredAlready").removeClass("hidden");
                        setTimeout(function() {
                            $("#RegisteredAlready").addClass("hidden");
                        },1000);
                    }
                    
                }
                
            });
        }

        // Deleting Invitation
        function deleteInvitation(invitationId) {
            bootbox.confirm({
                message: "هل انت متأكد من مسح هذه الدعوة؟",
                locale: 'ar',
                buttons: {
                    confirm: {
                        label: 'تأكيد',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'إلغاء',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $.post('@Url.Action("DeleteInvitation", "Invitation")',
                            { id: invitationId },
                            function(resultObject) {
                                if (resultObject.message === "success") {
                                    $("#DeleteSuccess").removeClass("hidden");
                                    
                                    setTimeout(function() {
                                        $("#DeleteSuccess").addClass("hidden");
                                        window.location.href = '/Printing?studentId=' + resultObject.studentId;
                                    }, 1000);
                                   
                                } else {
                                    $("#DeleteFail").removeClass("hidden");
                                    setTimeout(function() {
                                        $("#DeleteFail").addClass("hidden");
                                    },1000);
                                }
                            });
                    }
                    
                }
            });
        }

        // Approving Attendee
        function ApproveAttendee(invitationId) {
            $.post('@Url.Action("ApproveInvitation", "Invitation")',
                { id: invitationId },
                function(result) {
                    if (result.message === "success") {
                        $("#ApprovingSuccess").removeClass("hidden");
                                    
                        setTimeout(function() {
                            $("#ApprovingSuccess").addClass("hidden");
                        }, 1000);
                                   
                    } else {
                        $("#ApprovingFail").removeClass("hidden");
                        setTimeout(function() {
                            $("#ApprovingFail").addClass("hidden");
                        },1000);
                    }
                });
        }

    </script>
}
